@import "tailwindcss";
@plugin '../hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --color-primary: #7065F0;  /* Color principal */
  --color-secondary: #5A4FCF;  /* Color secundario más oscuro */
}

/* Clases personalizadas */
.bg-primary {
  background-color: #7065F0;
}

.text-primary {
  color: #7065F0;
}

.bg-secondary {
  background-color: white;
}

.text-secondary {
  color: black;
}

:root {
  --background: #ffffff;
  --foreground: #181818;
  --font-sans: var(--font-plus-jakarta-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
